javascript:
  $(function() {
    $('#applicant_skills').select2({
      tags: true,
      ajax: {
        url: "#{ skills_list_applicants_url }",
        dataType: "json",
        processResults: function(data, page) {
          return { results: data }
        }
      },
      escapeMarkup: function (markup) { return markup; },
      minimumInputLength: 1,
      templateResult: function(data) { return data.text },
      templateSelection: function(data) { return data.text }
    });
  });

= simple_form_for applicant do |f|
  = f.input :name
  = f.input :skills, collection: applicant.skills,
    input_html: { multiple: true },
    include_hidden: false
  = f.input :status, collection: [:active, :inactive],
    include_blank: false
  = f.input :desired_salary
  = f.input :contact
  = f.button :submit
