p
  = link_to fa_icon('plus', text: 'Создать'),
    new_applicant_path,
    class: 'btn btn-primary'
- if @applicants.count > 0
  .list-group
    - @applicants.each do |applicant|
      .list-group-item
        .btn-group.pull-right
          = link_to fa_icon('briefcase', text: 'Вакансии'),
            applicant_jobs_path(applicant),
            class: 'btn btn-xs btn-default'
          = link_to fa_icon('edit'),
            edit_applicant_path(applicant),
            class: 'btn btn-xs btn-default'
          = link_to fa_icon('remove'),
            applicant_path(applicant),
            class: 'btn btn-xs btn-danger',
            method: 'delete',
            data: { confirm: 'Вы действительно хотите удалить соискателя?' }

        = render partial: 'shared/applicant',
          locals: { applicant: applicant }
- else
  .well
    | Нет записей соискателей
