javascript:
  $(function() {
    $('#job_skills').select2({
      tags: true,
      ajax: {
        url: "#{ skills_list_jobs_url }",
        dataType: "json",
        processResults: function(data, page) {
          return { results: data }
        }
      },
      escapeMarkup: function (markup) { return markup; },
      minimumInputLength: 1,
      templateResult: function(data) { return data.text },
      templateSelection: function(data) { return data.text }
    });
  });

= simple_form_for job do |f|
  = f.input :name
  = f.input :skills, collection: job.skills,
    input_html: { multiple: true },
    include_hidden: false
  = f.input :issue_date, as: :date,
    start_year: Date.today.year - 10,
    end_year: Date.today.year,
    order: [:day, :month, :year]
  = f.input :valid_time
  = f.input :salary
  = f.input :contact
  = f.button :submit
