p
  = link_to fa_icon('arrow-left', text: 'Назад к вакинсиям'), root_path

.well
  = render partial: 'shared/job',
    locals: { job: @job }

h3 Полное совпадение
- if @full_match.present?
  .list-group
    - @full_match.each do |applicant|
      .list-group-item
        = render partial: 'shared/applicant',
          locals: { applicant: applicant }
- else
  .well Полных совпадений нет

h3 Частичное совпадение
- if @partially_match.present?
  .list-group
    - @partially_match.each do |applicant|
      .list-group-item
        = render partial: 'shared/applicant',
          locals: { applicant: applicant }
- else
  .well Частичных совпадений нет
