p
  = link_to fa_icon('plus', text: 'Создать'),
    new_job_path,
    class: 'btn btn-primary'
- if @jobs.count > 0
  .list-group
    - @jobs.each do |job|
      .list-group-item
        .btn-group.pull-right
          = link_to fa_icon('users', text: 'Кандидаты'),
            job_applicants_path(job),
            class: 'btn btn-xs btn-default'
          = link_to fa_icon('edit'),
            edit_job_path(job),
            class: 'btn btn-xs btn-default'
          = link_to fa_icon('remove'),
            job_path(job),
            class: 'btn btn-xs btn-danger',
            method: 'delete',
            data: { confirm: 'Вы действительно хотите удалить вакансию?' }

        = render partial: 'shared/job',
          locals: { job: job }

- else
  .well
    | Нет записей вакансий
