h4 = fa_icon 'user', text: applicant.name

div
  - if applicant.active?
    .label.label-success Активен
  - else
    .label.label-default Неактивен

.small
  b> Желаемая зароботная плата:
  = applicant.desired_salary

.small
  b>Контакты:
  = applicant.contact

div
  b>Навыки:
  - applicant.skills.each do |skill|
    .label.label-info> = skill
