h4 = fa_icon 'list-alt', text: job.name

div
  - if job.is_actual?
    .label.label-success Актуально
  - else
    .label.label-default Неактуально

.small
  b> Заработная плата:
  = job.salary

.small
  b> Добавлено:
  = l job.issue_date, format: :long

.small
  b> Актуально до:
  = l job.issue_date + job.valid_time, format: :long

.small
  b> Контактная информация:
  = job.contact

div
  b> Требования:
  - job.skills.each do |skill|
    .label.label-info> = skill
