doctype html
html
  head
    title Работа для тебя (ДЕМО)
    = stylesheet_link_tag 'application',
      media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application',
      'data-turbolinks-track' => true
    = csrf_meta_tags
  body
    .navbar.navbar-default
      .container
        .navbar-header
          a.navbar-brand Работа (ДЕМО)

    .container
      .row
        .col-md-3
          = render_navigation

        .col-md-9

          /- if notice.present?
            p.alert.alert-info = notice
          /- if alert.present?
            p.alert.alert-warning = alert

          = yield
